<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>EDA - Home</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/static/assets/img/favicon.png" rel="icon">
  <link href="/static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/static/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: OnePage - v4.8.1
  * Template URL: https://bootstrapmade.com/onepage-multipurpose-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="/">Elite Driving Academy</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto app-home" href="/">Home</a></li>
          <li><a class="nav-link scrollto students-appointment" href="/book_an_appointment">Book an Appointment</a></li>
          <li><a class="nav-link scrollto ins-logout" href="/instructor_login">Login</a></li>
        </ul>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Welcome to Elite Driving Academy (EDA)!</h2>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page" style="border-top: 1px solid #ccc;">
      <div class="container ins-page">

        <div class="row">

          <div class=" col-lg-12 col-md-12 col-sm-12 added-alert" style="display: none;">
          <div class="alert alert-success" role="alert">

          </div>
        </div>

        <div class="app-row1 col-md-5 cs form-cs-c"
          style="border: 1px solid #ccc; border-radius: 5px; margin-right: 20px; width: 49%;">

          <p style="margin-top: 10px; font-weight: bold;">About Elite Driving Academy (EDA)</p>
          <hr>

          <form class="form-cs">

            <div>
              Elite Driving Academy (EDA) - is a driving school that has been established in Regina SK, February 2022.
            </div><br>

            <div>
              The main services that EDA offers is the techniques for driving light class 5 vehicles to high school
              students as well as news drivers who carry class 7 learners.
            </div><br>

            <div>
              We teach new drivers through 6 & 6 commercial programs. EDA provides services to its clients throughout
              the year.
            </div><br>

            <div>
              Beside 6 & 6 programs; we also offer - Brush-ups service
            </div><br>

          </form>
        </div>

        <div class="app-row1 col-md-6 cs list-cs" style="border: 1px solid #ccc; border-radius: 5px; width: 49%;">
          <p class="secsion-hdr" style="margin-top: 10px; font-weight: bold;">Rate us here!</p>
          <hr>

          <div class="scont">

            <div class="form-group" style="margin-top: 20px;">
              <input type="text" id="id_rate_username" style="border: 1px solid #00C851;" class="form-control ttime"
                name="username" placeholder="Enter your name">
            </div>

            <div id="id_rate_lbl" style="margin-top: 10px; color: #00C851;">Please rate upto 5 stars - </div>

            <div class="rate rate-with-five-stars">
              <input type="radio" id="star5" name="rate" value="5" />
              <label for="star5" title="text">5 stars</label>
              <input type="radio" id="star4" name="rate" value="4" />
              <label for="star4" title="text">4 stars</label>
              <input type="radio" id="star3" name="rate" value="3" />
              <label for="star3" title="text">3 stars</label>
              <input type="radio" id="star2" name="rate" value="2" />
              <label for="star2" title="text">2 stars</label>
              <input type="radio" id="star1" name="rate" value="1" />
              <label for="star1" title="text">1 star</label>
            </div>

            <br>
            <textarea
              style="border: 1px solid #00C851; width: 100%; border-radius: 5px; padding: 10px; margin-top: 10px;"
              id="id_comment" name="comment" rows="5" cols="50" placeholder="Write your comment here...">
            </textarea>

            <br><br>

            <button type="button" style="width: 100%;" class="btn btn-success btn-send-ratings">Send</button>

            <br>
          </div>
          <br>

        </div>

        <div class="app-row2 col-md-5 cs form-cs-c"
          style="margin-top: 20px; border: 1px solid #ccc; border-radius: 5px; margin-right: 20px; width: 49%;">

          <p style="margin-top: 10px; font-weight: bold;">About Elite Driving Academy (EDA)</p>
          <hr>

          <form class="form-cs">

            <div>
              Elite Driving Academy (EDA) - is a driving school that has been established in Regina SK, February 2022.
            </div><br>

            <div>
              The main services that EDA offers is the techniques for driving light class 5 vehicles to high school
              students as well as news drivers who carry class 7 learners.
            </div><br>

            <div>
              We teach new drivers through 6 & 6 commercial programs. EDA provides services to its clients throughout
              the year.
            </div><br>

            <div>
              Beside 6 & 6 programs; we also offer - Brush-ups service
            </div><br>

          </form>
        </div>

        <div class="app-row2 col-md-6 cs list-cs"
          style="margin-top: 20px; border: 1px solid #ccc; border-radius: 5px; width: 49%;">
          <p class="secsion-hdr" style="margin-top: 10px; font-weight: bold;">Feedback</p>
          <hr style="margin: 0px;">

          <div class="scont user-ratings-holder">

            <!-- <div style="border: 1px solid #00C851;"> -->
            <!-- <div style="border: 1px solid #00C851;border-radius: 5px; padding: 8px;">
              <div class="user-textview-container" 
              style="
              border-bottom: 1px solid #ccc;
              height: 47px;
              ">
                <div style="font-weight: bold;">Test User</div>
  
                <div class="rate rate-with-five-stars"
                style="
                pointer-events:none;
                height: 0px;
                "
                >
                  <input type="radio" disabled id="star5" name="rate" value="5" />
                  <label style="font-size: 16px !important;color: #00C851;" for="star5" title="text">5 stars</label>
                  <input type="radio" disabled id="star4" name="rate" value="4" />
                  <label style="font-size: 16px !important;color: #00C851;" for="star4" title="text">4 stars</label>
                  <input type="radio" disabled id="star3" name="rate" value="3" />
                  <label style="font-size: 16px !important;color: #00C851;" for="star3" title="text">3 stars</label>
                  <input type="radio" disabled id="star2" name="rate" value="2" />
                  <label style="font-size: 16px !important;color: #00C851;" for="star2" title="text">2 stars</label>
                  <input type="radio" disabled id="star1" name="rate" value="1" />
                  <label style="font-size: 16px !important;color: #00C851;" for="star1" title="text">1 star</label>
                </div>
  
              </div>
  
              <div class="text-view-comment" style="margin-top: 7px;">Test comment.. test comment..</div>

            </div> -->

            <br>
          </div>
          <br>

        </div>

      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <hr>
  <footer id="">

    <div style="text-align: center;">
      <p>2022</p>
    </div>

  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Vendor JS Files -->
  <script src="/static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="/static/assets/vendor/aos/aos.js"></script>
  <script src="/static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/static/assets/jquery-3.6.0.min.js"></script>
  <script src="/static/assets/js/main.js"></script>
  <!--  <script src="/static/assets/js/_app.js"></script>-->
  <script src="/static/app.js"></script>

</body>

</html>

<script>
  $('#id_comment').val('');
</script>